@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 134, 255, 211;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 61, 121, 99;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb))) no-repeat;
  min-height: 100vh;
}

@layer components{
  td:nth-child(even), th:nth-child(even){
    @apply bg-green-200 dark:bg-[#24493C]
  }
  td:nth-child(odd), th:nth-child(odd){
    @apply bg-lime-200 dark:bg-[#033]
  }
  td:nth-child(2), th:nth-child(2){
    @apply truncate max-w-48
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}